.container{
  max-width: 500px;
  margin: 30px auto;
  overflow: auto;
  min-height: 300px;
  border: 2px solid rgb(141, 248, 11);
  background-color: #000;
  border-radius: 10px;
}

h1
{
  color: wheat;
  text-align: center;
}
